.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input {
  margin-bottom: 10px;
  padding: 5px;
  width: 80%;
  height: 44px;
}

.button {
  padding: 10px 10px;
  background: linear-gradient(
    to right,
    #6200ea,
    #b743dc
  ); /* AI purple gradient */
  color: white;
  border: none;
  cursor: pointer;
  display: flex; /* Make icon and text align in row */
  justify-content: center; /* center the items */
  width: 100%; /* Make the button full width of the textarea */
  box-sizing: border-box;
}
